html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background: #2d2d2d;
}

iframe {
	border: none;
    width: 100%;
    height: 100%;
}

textarea#debug {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
    height: 50%;
    border: 2px solid #FFC107;
    outline: none;
    background: black;
    color: #FFC107;
    padding: 8px 16px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 1px 1px 35px 8px black;
}

.jsterm {
	position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    height: 40%;
    width: 80%;
}