@import "./fonts.less";
@import "./modifiers.less";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background: #000;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
    font-family: 'PT Sans Narrow', sans-serif;
}

body {
    transform: translateZ(0)
}

iframe {
	border: none;
    width: 100%;
    height: 100%;
    transition: opacity 0.35s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;

    &.loading {
      opacity: 0;
    }

    &.active {
      opacity: 1;
      z-index: 1;
    }
}

#core-preloader, #core-loader {
    display: none;
}

#core-preloader.active, #core-loader.active {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .caption {
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
        }

        .spinner {
          width: 50px;
          height: 40px;
          text-align: center;
          font-size: 10px;
        }

        .spinner > div {
          background-color: #fff;
          height: 100%;
          width: 6px;
          display: inline-block;
          
          -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }

        .spinner .rect2 {
          -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
        }

        .spinner .rect3 {
          -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
        }

        .spinner .rect4 {
          -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
        }

        .spinner .rect5 {
          -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
        }

        @-webkit-keyframes sk-stretchdelay {
          0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
          20% { -webkit-transform: scaleY(0.6) }
        }

        @keyframes sk-stretchdelay {
          0%, 40%, 100% { 
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
          }  20% { 
            transform: scaleY(0.6);
            -webkit-transform: scaleY(0.6);
          }
        }
    }
}

#core-loader {
    .progress-bar {
        width: 74px;
        height: 16px;
        padding: 12px 0;

        .progress {
            height: 100%;
            background: #fff;
            transition: width 0.25s linear;
        }
    }
}


.jsterm {
	position: absolute;
    top: 5%;
    left: 50%;
    transform: translateZ(0) translateX(-50%) translateY(-200%) scale(0.5);
    height: 50%;
    width: 90%;
    opacity: 0;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    z-index: 3;


    &.connected {
		transform: translateZ(0) translateX(-50%) scale(1);
		opacity: 1;
		transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }
}


